<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image: url('../../../assets/img/old&new.jpg')"></div>
      <div class="carousel-item" style="background-image: url('../../../assets/img/multimeter.jpeg')"></div>
      <div class="carousel-item" style="background-image: url('../../../assets/img/black-sand.jpeg')"></div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<section>
    <button type="button" class="btn btn01">
            <app-button></app-button>
    </button>
</section>

<section class="work-header">
    <h1 class="banner">Featured Work</h1>
</section>

<section class="my-work">
    <div class="container-fluid external-sites">
        <div class="flex-parent">

            <div class="flex-child child-1">
                <a href="https://github.com/AndrewWaller/Gamma.js" alt="Gamma JS" target="_blank" rel="noopener">
                    <div class="box">
                        <i class="fas fa-prescription fa-3x"></i>
                    </div>
                </a>
                <h5 class="work-titles">Gamma JS</h5>
            </div>

            <div class="flex-child child-2">
                <a onclick="window.open('https://github.com/AndrewWaller/ClientCli'); window.open('https://www.npmjs.com/package/client-cli');" alt="ClientCli" target="_blank" rel="noopener">
                    <div class="box bounce-to-top">
                        <i aria-hidden="true" class="fab fa-node fa-3x"></i>
                    </div>
                </a>
                <h5 class="work-titles">Client CLI</h5>
            </div>

            <div class="flex-child child-3">
                <a onclick="window.open('https://github.com/AndrewWaller/WebScraper-Node'); window.open('https://github.com/AndrewWaller/WebScraper-Py3');" alt="Webscrape" target="_blank" rel="noopener">
                    <div class="box">
                        <i class="fab fa-python fa-3x"></i>
                        <i class="fab fa-node-js fa-3x"></i>
                    </div>
                </a>
                <h5 class="work-titles">Webscraper's</h5>
            </div>

            <div class="flex-child child-4">
                <a href="https://github.com/git-fit-team/master" alt="Git-Fit" target="_blank" rel="noopener">
                    <div class="box">
                        <i class="fab fa-angular fa-3x"></i>
                        <img src="../../../assets/img/logo-white.png" id="gitFitLogo" alt="Strong-Man Logo" class="git-fit-logo">
                    </div>
                </a>
                <h5 class="work-titles">Git-Fit</h5>
            </div>

        </div>
    </div>
</section>
<app-footer></app-footer>