/* You can add global styles to this file, and also import other style files */

body {
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: .5em;
}
body::-webkit-scrollbar-thumb {
    background-color: #fd1c15;
    height: 10px;
}
body::-webkit-scrollbar-track-piece {
    background-color:  #ded7c9;
}

a:hover {
    text-decoration: none !important;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

